
<p>
  <strong>Name:</strong>
  <%= @poi.name %>
</p>
 
<p>
  <strong>Coordinate X:</strong>
  <%= @poi.x %>
</p>

<p>
  <strong>Coordinate Y:</strong>
  <%= @poi.y %>
</p>

<%= link_to 'Back to List', pois_path %>